@media (min-width: 1024px) {

    /* hero */

    #hero-text {
        margin: 17vh auto 2vh;
        gap: 1rem;
    }

    #hero-text h1 {
        font-size: 3.5rem;
        width: calc(4 * 250px + 3 * 1rem);
    }

    #hero-text h4 {
        font-size: 1.1rem;
        width: calc(4 * 200px + 3 * 1rem);
    }

    #hero-buttons {
        width: 45vw;
        gap: 2rem;
    }


    /* Produto */
    #product-text {
        font-size: 3rem;
    }

    main>h5 {
        font-size: 1rem;
        width: 60vw;
        margin-bottom: 70px;
    }

    #product-area {
        width: 80vw;
        min-height: 1000px ;
        max-width: calc(4 * 250px + 3 * 1rem);
        justify-content: space-between;
        gap: 1rem;
        padding: 0;
    }

    .product {
        width: 30%;
        max-height: 500px;
    }

    .product:last-child {
        margin: auto;
    }

    .product img {
        width: 100%;
        height: 300px;
    }

    .produto-content {
        width: 100%;
        min-height: 100px;
        padding: 15px 10px;
    }

    .produto-content>h3 {
        font-size: 1.9rem;
    }

    .produto-content p {
        font-size: .9rem;
    }

    .price-and-button h4 {
        font-size: 1.4rem;
    }

    .product button {
        width: 50%;
        height: 55px;
        font-size: 1.2rem;
    }

    /* Como Comprar */

    .como-comprar>h2 {
        font-size: 2.75rem;
        margin: 20vh auto 5vh;
    }

    .cards {
        display: flex;
        gap: 1rem;
        justify-content: center;
    }

    .card {
        width: 20vw;
        max-width: 250px;
        min-height: 270px;
        padding: 1.2rem 2rem;
        gap: .8rem;
        
        margin-bottom: 6vh;
    }

    .bola {
        width: 8vw;
        max-width: 80px;
        height: 8vw;
        max-height: 80px;
    }

    .card h3 {
        font-size: 1.4rem;
    }

    .card p {
        font-size: .8rem;
    }

    /* graficos */

    #graficosection {
        max-width: calc(4 * 250px + 3 * 1rem);
        display: flex;
        width: 85vw;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
        gap: 1rem;
    }

    .grafico {
        width: calc(2 * 32vw + 1rem);
        margin: 1vh auto;
        padding: 4vh 2vh;
        display: flex;
        flex-direction: column;
        gap: 2vh;
        background-color: var(--brand-white);
        border-radius: 10px;
        box-shadow: 0 3px 10px var(--shadow-color);
    }

    .grafico h2 {
        font-size: 1.5rem;
    }

    .grafico canvas {
        width: 100%;
        height: 100%;
    }

    /* sobre */

    .sobre>h2 {
        font-size: 2.1rem;
        margin: 8vh auto 4vh;
    }

    .sobre-area {
        width: min(85vw, calc(4 * 250px + 3 * 1rem));
        display: flex;
        gap: 1rem;
        align-items: flex-start;
        flex-direction: row;
        margin: 0 auto;
    }

    .sobre-area>img {
        height: auto;
        max-height: 480px;
        object-fit: cover;
        border-radius: 12px;
    }

    .sobre-content {
        flex: 1;
        min-width: 0;
    }


    .sobre-content h3 {
        font-size: 1.6rem;
    }

    .sobre-content>p {
        font-size: .95rem;
        line-height: 1.2;
        width: 80%;
    }

    #manual-area p {
        font-size: .85rem;
        width: 80%;
    }

    /* sustentabilidade */

    #sustentabilidade>h2 {
        font-size: 2.25rem;
        text-align: center;
        width: fit-content;
        margin: 10vh auto 1vh;
    }

    #sustentabilidade>p {
        text-align: center;
        width: 80vw;
        margin: 0 auto 4vh;
        font-size: 1rem;
    }

    .sust-area {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: min(85vw, calc(4 * 250px + 3 * 1rem));
        margin: 0 auto;
        align-items: center;
        justify-content: center;
    }

    .sust-item {
        display: flex;
        flex-direction: column;
        gap: 1vh;
        width: calc(50% - 1vh);
        background-color: red;
        background-color: var(--brand-white);
        border-radius: 10px;
        box-shadow: 0 3px 10px var(--shadow-color);
        padding: 1.25rem;
    }
    
    .sust-item h3 {
        margin-top: 1vh;
    }

    .sust-icon {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 4rem;
        width: 4rem;
        border-radius: 3px;
        background-color: var(--brand-yellow);
    }

    .sust-icon img {
        width: 70%;
        height: 70%;
    }


     
}

@media (min-width: 1441px) {
    nav {
        padding: 15px 17vw; 
    }
}